body {
  font-family: "Montserrat";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: #DF803F;
  align-items: center;
  justify-content: center;
  gap: 17px;
  padding: 10px 0px;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 991px) {
  .header {
    gap: 11px;
    justify-content: flex-start;
    padding: 10px 5px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 10px 5px;
    gap: 8px;
    padding-right: 35px;
  }
}
.header p {
  color: #fff;
  word-spacing: 3px;
}
.header img {
  position: absolute;
  right: 20px;
  top: 21px;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .header img {
    right: 10px;
  }
}
.header button {
  background-color: #113F60;
  padding: 5px 23px;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .header button {
    padding: 5px 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 567px) {
  .header button {
    width: 30%;
    padding: 5px 4px;
  }
}
.header button a {
  font-weight: 600;
  font-size: 14px;
  line-height: 25.2px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .header button a {
    font-size: 13px;
    line-height: 21.2px;
    letter-spacing: 0px;
    font-weight: 400;
  }
}

.navbar {
  background-color: #113F60;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 6px 0px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .navbar {
    justify-content: space-between;
    padding: 6px 10px;
  }
}
@media screen and (max-width: 991px) {
  .navbar .navbar_logo {
    width: 130px;
  }
}
.navbar .navbar_logo img {
  max-width: 100%;
}
.navbar .navbar_menu {
  display: flex;
  align-items: center;
}
.navbar .navbar_menu .newstyle {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  transition: all 2s ease;
}
.navbar .navbar_menu .newstyle li a {
  color: black;
  cursor: pointer;
}
.navbar .navbar_menu .navbar_hamburger {
  margin: 0px 10px;
  display: none;
}
@media screen and (max-width: 767px) {
  .navbar .navbar_menu .navbar_hamburger {
    display: block;
  }
}
.navbar .navbar_menu .navbar_hamburger img {
  width: 100%;
}
.navbar .navbar_menu ul {
  display: flex;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .navbar .navbar_menu ul {
    display: none;
  }
}
.navbar .navbar_menu ul li {
  padding: 0px 16px;
}
@media screen and (max-width: 991px) {
  .navbar .navbar_menu ul li {
    padding: 0px 8px;
  }
}
.navbar .navbar_menu ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
}
@media screen and (max-width: 991px) {
  .navbar .navbar_menu ul li a {
    font-size: 13px;
  }
}
.navbar .navbar_menu button {
  background-color: #DF803F;
  color: #fff;
  padding: 7px 12px;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}
.navbar .navbar_menu button a {
  font-weight: lighter;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.main-section {
  padding: 80px 64px;
  background-color: #E3F1FB;
}
@media screen and (max-width: 1191px) {
  .main-section {
    padding: 80px 40px;
  }
}
.main-section .card {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 991px) {
  .main-section .card {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
}
.main-section .card .picture {
  width: 50%;
}
@media screen and (max-width: 991px) {
  .main-section .card .picture {
    width: 100%;
  }
}
.main-section .card .picture img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
}
@media screen and (max-width: 991px) {
  .main-section .card .picture img {
    border-radius: 33px;
  }
}
.main-section .card .content {
  background-color: #113F60;
  width: 50%;
  padding: 48px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 33px;
  border-bottom-left-radius: 33px;
}
@media screen and (max-width: 1191px) {
  .main-section .card .content {
    padding: 35px 23px;
  }
}
@media screen and (max-width: 991px) {
  .main-section .card .content {
    border-radius: 33px;
    padding: 35px 23px;
    width: 100%;
  }
}
.main-section .card .content button {
  background-color: #DF803F;
  color: #fff;
  padding: 7px 12px;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 38%;
  margin-top: 22px;
}
@media screen and (max-width: 1191px) {
  .main-section .card .content button {
    width: 34%;
    margin-top: 18px;
  }
}
@media screen and (max-width: 767px) {
  .main-section .card .content button {
    width: 40%;
  }
}
.main-section .card .content .first-item {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 1191px) {
  .main-section .card .content .first-item {
    gap: 7px;
  }
}
.main-section .card .content .first-item p {
  margin: 10px 0px;
}
@media screen and (max-width: 1191px) {
  .main-section .card .content .first-item p {
    margin: 7px 0px;
  }
}
.main-section .card .content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  margin: 24px 0px;
}
@media screen and (max-width: 1191px) {
  .main-section .card .content p {
    font-size: 17px;
    line-height: 26px;
    color: #fff;
    margin: 19px 0px;
  }
}
.main-section .card .content .blue {
  color: #8BD0EE;
}
.main-section .card .content h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 57.2px;
  letter-spacing: 0%;
  color: #fff;
  display: inline;
}
@media screen and (max-width: 1191px) {
  .main-section .card .content h1 {
    font-size: 48px;
    line-height: 50.2px;
  }
}
@media screen and (max-width: 767px) {
  .main-section .card .content h1 {
    font-size: 33px;
    line-height: 40.2px;
  }
}

.sponsorships {
  padding: 80px 10px;
}
@media screen and (max-width: 767px) {
  .sponsorships {
    padding: 50px 10px;
  }
}
.sponsorships img {
  width: 100%;
  height: 100%;
  margin-top: 34px;
}

.sponsorships h3 {
  color: #666666;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.heading-banner {
  padding: 112px 64px 0px 64px;
}
@media screen and (max-width: 1191px) {
  .heading-banner {
    padding: 80px 40px 0px 40px;
  }
}
@media screen and (max-width: 767px) {
  .heading-banner {
    padding: 50px 30px 0px 30px;
  }
}
.heading-banner h2 {
  max-width: 50%;
  word-wrap: break-word;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
}
@media screen and (max-width: 991px) {
  .heading-banner h2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .heading-banner h2 {
    font-size: 30px;
    line-height: 36.6px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
}
.main-container .first-row {
  display: flex;
}
.main-container .second-row {
  display: flex;
}

.features {
  display: flex;
  background-color: #E3F1FB;
  padding: 112px 64px;
}
@media screen and (max-width: 991px) {
  .features {
    flex-direction: column;
    gap: 60px;
    padding: 100px 50px;
  }
}
@media screen and (max-width: 767px) {
  .features {
    padding: 80px 28px;
  }
}
.features .features__heading {
  padding-right: 20px;
}
.features .features__heading h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 0%;
}
@media screen and (max-width: 767px) {
  .features .features__heading h2 {
    font-size: 35px;
    line-height: 41.6px;
  }
}
.features .features__card {
  display: flex;
  flex-direction: column;
}
.features .features__card .features__card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  margin-bottom: 32px;
  padding: 32px;
  border-radius: 24px;
}
.features .features__card .features__card-content p {
  color: #666666;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.features .features__card .features__card-content h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33.6px;
}
.features .features__card .features__card-content img {
  width: 80px;
  height: 80px;
}

.main-cards {
  display: flex;
  flex-direction: column;
  padding: 112px 64px;
  gap: 60px;
}
@media screen and (max-width: 1191px) {
  .main-cards {
    padding: 100px 45px;
  }
}
@media screen and (max-width: 767px) {
  .main-cards {
    padding: 80px 45px;
  }
}
.main-cards .first-row {
  display: flex;
  gap: 56px;
}
@media screen and (max-width: 1191px) {
  .main-cards .first-row {
    gap: 35px;
  }
}
@media screen and (max-width: 991px) {
  .main-cards .first-row {
    flex-direction: column;
  }
}
.main-cards .first-row .business {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-cards .first-row .business .img-container img {
  width: 100%;
}
.main-cards .first-row .business .img-content {
  background-color: #113F60;
  padding: 32px;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
}
@media screen and (max-width: 1191px) {
  .main-cards .first-row .business .img-content {
    padding: 20px;
  }
}
@media screen and (max-width: 767px) {
  .main-cards .first-row .business .img-content {
    padding: 20px 15px;
  }
}
.main-cards .first-row .business .img-content::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #E3F1FB;
}
@media screen and (max-width: 576px) {
  .main-cards .first-row .business .img-content::before {
    height: 70%;
  }
}
.main-cards .first-row .business .img-content p {
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
}
.main-cards .first-row .business .img-content h3 {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
  line-height: 41.6px;
}
@media screen and (max-width: 1191px) {
  .main-cards .first-row .business .img-content h3 {
    font-size: 30px;
    line-height: 39.6px;
  }
}
@media screen and (max-width: 767px) {
  .main-cards .first-row .business .img-content h3 {
    font-size: 21px;
    line-height: 31.6px;
  }
}

.secondvideo {
  padding: 112px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
@media screen and (max-width: 1191px) {
  .secondvideo {
    padding: 100px 50px;
  }
}
@media screen and (max-width: 767px) {
  .secondvideo {
    padding: 80px 26px;
  }
}
.secondvideo .secondvideo_img {
  width: 1312px;
  height: 738px;
}
@media screen and (max-width: 1400px) {
  .secondvideo .secondvideo_img {
    width: 1100px;
    height: 768px;
  }
}
@media screen and (max-width: 1191px) {
  .secondvideo .secondvideo_img {
    width: 100%;
    height: auto;
  }
}
.secondvideo .secondvideo_img img {
  width: 100%;
  height: 100%;
  border-radius: 32px;
}
.secondvideo h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  text-align: center;
  width: 50%;
}
@media screen and (max-width: 1191px) {
  .secondvideo h2 {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .secondvideo h2 {
    font-size: 35px;
    line-height: 43.6px;
  }
}

.founders {
  display: flex;
  padding: 112px 64px;
  gap: 50px;
  align-items: center;
}
@media screen and (max-width: 991px) {
  .founders {
    padding: 100px 50px;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .founders {
    padding: 80px 35px;
  }
}
.founders .founders_img {
  width: 50%;
}
@media screen and (max-width: 991px) {
  .founders .founders_img {
    width: 100%;
  }
}
.founders .founders_img img {
  width: 100%;
}
.founders .founders__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 48%;
}
@media screen and (max-width: 991px) {
  .founders .founders__content {
    gap: 14px;
    width: 100%;
  }
}
.founders .founders__content img {
  max-width: 64px;
  max-height: 64px;
}
.founders .founders__content h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 43.2px;
}
.founders .founders__content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.alone-heading {
  padding: 112px 64px 0px 64px;
}
@media screen and (max-width: 1191px) {
  .alone-heading {
    padding: 100px 50px 0px 50px;
  }
}
@media screen and (max-width: 991px) {
  .alone-heading {
    padding: 50px 40px 0px 40px;
  }
}
.alone-heading h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  width: 50%;
}
@media screen and (max-width: 991px) {
  .alone-heading h2 {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .alone-heading h2 {
    font-size: 37px;
    line-height: 46.6px;
  }
}

.expenses {
  padding: 112px 64px;
  display: flex;
  gap: 24px;
  align-items: baseline;
}
@media screen and (max-width: 1191px) {
  .expenses {
    padding: 112px 40px;
  }
}
@media screen and (max-width: 767px) {
  .expenses {
    padding: 80px 20px;
    flex-direction: column;
  }
}
.expenses .expenses_content {
  border: 2px solid #E3F1FB;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  width: 50%;
}
@media screen and (max-width: 1191px) {
  .expenses .expenses_content {
    padding: 23px 15px;
  }
}
@media screen and (max-width: 767px) {
  .expenses .expenses_content {
    width: 100%;
  }
}
.expenses .expenses_content .paragraph {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  margin-bottom: 35px;
}
@media screen and (max-width: 991px) {
  .expenses .expenses_content .paragraph {
    gap: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
.expenses .expenses_content h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.expenses .expenses_content .para {
  display: flex;
  gap: 8px;
}
.expenses .expenses_content .para p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.expenses .expenses_content .price {
  display: flex;
  gap: 13px;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .expenses .expenses_content .price {
    flex-direction: column;
    gap: 0px;
  }
}
.expenses .expenses_content .price h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 67.2px;
  color: #666666;
}
@media screen and (max-width: 991px) {
  .expenses .expenses_content .price h2 {
    font-size: 51px;
    line-height: 50.2px;
  }
}
@media screen and (max-width: 767px) {
  .expenses .expenses_content .price h2 {
    font-size: 40px;
    line-height: 37.2px;
  }
}
.expenses .expenses_content .price p {
  font-weight: 700;
  font-size: 20px;
  line-height: 57.6px;
  color: #666666;
}
@media screen and (max-width: 767px) {
  .expenses .expenses_content .price p {
    font-size: 28px;
    line-height: 30.6px;
  }
}
.expenses .expenses_card {
  background-color: #113F60;
  padding: 32px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50%;
  box-shadow: 0px 0px 7px 0px rgb(227, 84, 84);
}
@media screen and (max-width: 1191px) {
  .expenses .expenses_card {
    padding: 23px 15px;
  }
}
@media screen and (max-width: 767px) {
  .expenses .expenses_card {
    width: 100%;
  }
}
.expenses .expenses_card button {
  background-color: #DF803F;
  color: #fff;
  padding: 7px 12px;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 12px;
  border-radius: 40px;
  margin-top: 24px;
  width: 67%;
}
.expenses .expenses_card h4 {
  color: #ECBA85;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.expenses .expenses_card p {
  color: #ECBA85;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.expenses .expenses_card .price {
  display: flex;
  gap: 10px;
  align-items: center;
}
.expenses .expenses_card .price h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 67.2px;
  letter-spacing: 0%;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .expenses .expenses_card .price h2 {
    font-size: 52px;
  }
}
@media screen and (max-width: 767px) {
  .expenses .expenses_card .price h2 {
    font-size: 36px;
  }
}
.expenses .expenses_card .price p {
  color: #fff;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 32px;
  line-height: 41.6px;
}
@media screen and (max-width: 991px) {
  .expenses .expenses_card .price p {
    font-size: 29px;
    line-height: 33.6px;
  }
}
@media screen and (max-width: 767px) {
  .expenses .expenses_card .price p {
    font-size: 25px;
    line-height: 27.6px;
  }
}

.text-content {
  padding: 112px 64px;
}
@media screen and (max-width: 1191px) {
  .text-content {
    padding: 100px 50px;
  }
}
@media screen and (max-width: 767px) {
  .text-content {
    padding: 50px 22px;
  }
}
.text-content .faq-content {
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .text-content .faq-content {
    margin-bottom: 27px;
  }
}
.text-content h2 {
  color: #444444;
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  margin-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .text-content h2 {
    font-size: 41px;
    line-height: 35.6px;
    margin-bottom: 19px;
  }
}
.text-content .extra-border {
  border-bottom: 1px solid #AAAAAA;
}
.text-content .questions {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  border-top: 1px solid #AAAAAA;
}
.text-content .questions .hidden {
  display: none;
}
.text-content .questions .visible {
  display: block;
}
.text-content .questions p {
  margin-top: 15px;
  width: 50%;
}
@media screen and (max-width: 991px) {
  .text-content .questions p {
    width: 100%;
  }
}
.text-content .questions .questions_heading {
  display: flex;
  justify-content: space-between;
}
.text-content .questions .questions_heading .rotate {
  transform: rotate(180deg);
  transition: transform 0.1s ease;
}
.text-content .queries {
  margin-top: 80px;
}
.text-content .queries h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 41.6px;
}
.text-content .queries p {
  color: #666666;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 24px 0px;
}
.text-content .queries button {
  padding: 12px 24px;
  border: 2px solid #8BD0EE;
  border-radius: 50px;
  cursor: pointer;
}

.tilted {
  padding: 112px 0px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .tilted {
    padding: 90px 0px;
  }
}
@media screen and (max-width: 767px) {
  .tilted {
    padding: 70px 0px;
  }
}
.tilted::before {
  content: "";
  position: absolute;
  background-color: #35AADB;
  z-index: -1;
  height: 63%;
  top: 17%;
  width: 100%;
  opacity: 0.2;
  transform: skew(0deg, 9deg);
}
.tilted .tilted_card {
  background-color: #113F60;
  border: 2px solid #35AADB;
  border-radius: 32px;
  width: 50%;
  margin: 0px auto;
  padding: 44px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 991px) {
  .tilted .tilted_card {
    width: 85%;
    gap: 30px;
    padding: 25px 25px;
  }
}
@media screen and (max-width: 767px) {
  .tilted .tilted_card {
    width: 90%;
    gap: 20px;
    padding: 25px 15px;
  }
}
.tilted .tilted_card p {
  font-weight: 700;
  font-size: 24px;
  line-height: 33.6px;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .tilted .tilted_card p {
    font-size: 21px;
    line-height: 29.6px;
  }
}
.tilted .tilted_card .tilted_founder {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .tilted .tilted_card .tilted_founder {
    flex-direction: column;
    gap: 10px;
  }
}
.tilted .tilted_card .tilted_founder div {
  padding-right: 21px;
}
@media screen and (max-width: 767px) {
  .tilted .tilted_card .tilted_founder div {
    padding-right: 0px;
  }
}
.tilted .tilted_card .tilted_founder img {
  padding-left: 21px;
  border-left: 1px solid #35AADB;
}
@media screen and (max-width: 767px) {
  .tilted .tilted_card .tilted_founder img {
    padding-left: 0px;
    border-left: none;
  }
}
.tilted .tilted_card .tilted_founder h3,
.tilted .tilted_card .tilted_founder p {
  color: #fff;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .tilted .tilted_card .tilted_founder h3,
  .tilted .tilted_card .tilted_founder p {
    text-align: center;
  }
}

.form {
  padding: 112px 64px;
  display: flex;
  position: relative;
}
@media screen and (max-width: 1191px) {
  .form {
    padding: 100px 35px;
  }
}
@media screen and (max-width: 991px) {
  .form {
    padding: 80px 35px;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .form {
    padding: 50px 20px;
  }
}
.form::before {
  left: 0;
  content: "";
  width: 100%;
  height: 30%;
  bottom: 0;
  z-index: -1;
  position: absolute;
  background-image: url(./images/rectangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}
.form .form_left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 48px 32px 32px;
}
@media screen and (max-width: 1191px) {
  .form .form_left {
    padding: 32px 25px 32px 25px;
  }
}
@media screen and (max-width: 767px) {
  .form .form_left {
    padding: 30px 15px 30px 15px;
  }
}
.form .form_left h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
}
@media screen and (max-width: 767px) {
  .form .form_left h2 {
    font-size: 36px;
    line-height: 45.6px;
  }
}
.form .form_left span {
  color: #666666;
}
.form .form_left p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  color: #666666;
}
.form .form_left .form_down {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.form .form_left .form_down p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.form .form_right {
  background-color: #E3F1FB;
  width: 83%;
  padding: 32px;
  border-radius: 20px;
}
@media screen and (max-width: 1191px) {
  .form .form_right {
    width: 100%;
    padding: 32px 16px;
  }
}
.form .form_right form {
  display: flex;
  flex-direction: column;
}
.form .form_right h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.75px;
  margin-bottom: 16px;
}
.form .form_right form .input-box {
  background-color: #fff;
  padding: 13px 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #CBD5E1;
  margin: 15px 0px;
  border-radius: 4px;
}
.form .form_right form .input-box p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #475569;
}
.form .form_right form .input-box input {
  outline: none;
  border: 1px solid #CBD5E1;
}
.form .form_right form button {
  background-color: #DF803F;
  color: #fff;
  margin-top: 15px;
  padding: 14px 12px;
  border-radius: 15px;
  cursor: pointer;
}

.bottom {
  padding: 0px 64px;
  background-color: #104A69;
}
@media screen and (max-width: 1191px) {
  .bottom {
    padding: 0px 30px;
  }
}
.bottom .bottom_banner {
  display: flex;
  justify-content: space-between;
  padding: 60px 100px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
@media screen and (max-width: 1191px) {
  .bottom .bottom_banner {
    padding: 60px 40px;
  }
}
@media screen and (max-width: 991px) {
  .bottom .bottom_banner {
    padding: 60px 25px;
  }
}
@media screen and (max-width: 767px) {
  .bottom .bottom_banner {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
.bottom .bottom_banner .bottom_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.bottom .bottom_banner .bottom_list .sociallogo a img {
  padding: 10px 0px;
}
.bottom .bottom_banner .bottom_list h3 {
  color: #fff;
}
.bottom .bottom_banner .bottom_list ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 15px;
}
@media screen and (max-width: 767px) {
  .bottom .bottom_banner .bottom_list ul {
    gap: 10px;
  }
}
.bottom .bottom_banner .bottom_list ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 25.2px;
  letter-spacing: 1px;
  cursor: pointer;
}
.bottom img {
  padding: 35px 0px;
}
@media screen and (max-width: 767px) {
  .bottom img {
    padding: 5px 0px;
  }
}
.bottom .bottom_foot {
  text-align: center;
  color: #fff;
  padding: 35px 10px;
  width: 60%;
  margin: 0px auto;
  text-transform: uppercase;
}
.bottom .bottom_foot div {
  padding: 14px 0px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 80px;
  align-items: center;
  color: #515151;
  gap: 5px;
}
@media screen and (max-width: 1191px) {
  footer {
    padding: 36px 30px;
  }
}
@media screen and (max-width: 767px) {
  footer {
    padding: 36px 12px;
  }
}

/*# sourceMappingURL=styles.css.map */
